# Machine Learning

In [4]:
# Data ---> Independent(X), Dependent(Y)

# x ----> x_train,   x_test

# y ---> y_train,    y_test

# In training --> we will trained our model from input to target data Relation.
# In Testing --> we will check our model that our model is perfectly workin or not

In [6]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv("placement - placement.csv")

In [12]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [14]:
df.shape

(100, 3)

In [16]:
x = df.drop(columns = ['placed']) ## input data
y = df['placed'] ## Target data

In [18]:
# !pip install scikit-learn

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [30]:
print("Total data shap:",df.shape)
print("--------------------------")
print("--------------------------")

print("Input data shape:", x.shape)
print("Input data shape:", x_train.shape)
print("Input data shape:", x_test.shape)
print("--------------------------")
print("--------------------------")
print("Target data shape:", y.shape)
print("Target data shape:", y_train.shape)
print("Target data shape:", y_test.shape)

Total data shap: (100, 3)
--------------------------
--------------------------
Input data shape: (100, 2)
Input data shape: (80, 2)
Input data shape: (20, 2)
--------------------------
--------------------------
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)

In [33]:
x_train

    cgpa  resume_score
55  6.94          6.87
88  8.07          6.07
26  6.27          6.47
42  6.90          6.91
69  8.06          9.06
..   ...           ...
60  5.87          6.64
71  7.34          8.22
14  7.51          6.25
92  5.43          6.18
51  6.54          7.39

[80 rows x 2 columns]

# Covid Data

In [39]:
df = pd.read_csv("covid_toy - covid_toy.csv")

In [41]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [43]:
df["gender"].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [45]:
df["cough"].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [50]:
df["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [52]:
df["has_covid"].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [56]:
df["gender"] = df["gender"].map({"Female":0, "Male":1})

In [58]:
df["cough"] = df["cough"].map({"Mild":0, "Strong":1})

In [60]:
df.sample(4)

    age  gender  fever  cough       city has_covid
85   16       0  103.0      0  Bangalore       Yes
9    64       0  101.0      0      Delhi        No
5    84       0    NaN      0  Bangalore       Yes
14   51       1  104.0      0  Bangalore        No

In [62]:
x = df.drop(columns = ["has_covid"])
y = df["has_covid"]

In [64]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [66]:
print("Total data shap:",df.shape)
print("--------------------------")
print("--------------------------")

print("Input data shape:", x.shape)
print("Input data shape:", x_train.shape)
print("Input data shape:", x_test.shape)
print("--------------------------")
print("--------------------------")
print("Target data shape:", y.shape)
print("Target data shape:", y_train.shape)
print("Target data shape:", y_test.shape)

Total data shap: (100, 6)
--------------------------
--------------------------
Input data shape: (100, 5)
Input data shape: (80, 5)
Input data shape: (20, 5)
--------------------------
--------------------------
Target data shape: (100,)
Target data shape: (80,)
Target data shape: (20,)

In [68]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [70]:
# Using SimpleImputer(), we will fill missing data.

# if data is:
# Numerical ---> fill mean
# Categorical --> fill most_frequent_value

In [72]:
from sklearn.impute import SimpleImputer

In [74]:
si = SimpleImputer()

In [80]:
df["fever"] = si.fit_transform(df[["fever"]]) # fit means learn the parameters and trasform means
# aply on that data

In [82]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [84]:
df.shape

(100, 6)