# Encoding

In [6]:
# Encoding ---> Using this method, we can convert our categorical data into Numerical data.

# 1. LabelEncoding --> Transform categorical data into Numerical data but it will work only
# single-single column. It will automatically decide which value pass to the which sub-category.

# 2. OrdinalEncoding ---> Transform categorical data into Numerical data but it will work on
# multiple column. It will automatically decodie which value pass to the which sub-category

#3. OneEncoding --> Transform categorical data into Numerical data but it will create 
# new column based on sub-categories which you mentioned in your column. It will not provide
# you column name.
# Column Survived(Yes, No) --> Survived_Yes , Survived_No

# 4. get_dummies --> Transform categorical data into Numerical data but it will create
# new column based on sub-categories which you mentioned in you column
# but it will provide you column name also.
# Column Survived(Yes, No) --> Survived_Yes , Survived_No

# (1).LabelEncoding

In [17]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv("covid_toy - covid_toy.csv")
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [23]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [25]:
from sklearn.impute import SimpleImputer

In [27]:
si = SimpleImputer()

In [29]:
df["fever"] = si.fit_transform(df[["fever"]])

In [31]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [33]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [35]:
df["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

# LabelEncoding

In [39]:
from sklearn.preprocessing import LabelEncoder

In [41]:
lb = LabelEncoder()

In [43]:
df["gender"] = lb.fit_transform(df["gender"])
df["cough"] = lb.fit_transform(df["cough"])
df["city"] = lb.fit_transform(df["city"])
df["has_covid"] = lb.fit_transform(df["has_covid"])

In [45]:
df.sample(3)

    age  gender  fever  cough  city  has_covid
97   20       0  101.0      0     0          0
73   34       1   98.0      1     2          1
80   14       0   99.0      0     3          1

In [47]:
x = df.drop(columns = ["has_covid"])
y = df["has_covid"]

In [49]:
from sklearn.model_selection import train_test_split

In [51]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [53]:
from sklearn.preprocessing import StandardScaler

In [55]:
sc = StandardScaler()

In [57]:
x_train_sc = sc.fit_transform(x_train)

In [59]:
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns)

In [61]:
np.round(x_train_new.describe(), 2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00  -0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.17
25%    -0.94   -0.84  -0.51  -0.82  -1.17
50%    -0.04   -0.84   0.01  -0.82  -0.27
75%     0.91    1.19   0.53   1.22   0.63
max     1.69    1.19   1.57   1.22   1.53

In [65]:
df["city"].value_counts()

city
2    32
0    30
1    22
3    16
Name: count, dtype: int64

In [67]:
df = pd.read_csv("tips - tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [69]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [71]:
from sklearn.preprocessing import LabelEncoder

In [73]:
lb = LabelEncoder()

In [75]:
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [77]:
df["sex"] = lb.fit_transform(df["sex"])
df["smoker"] = lb.fit_transform(df["smoker"])
df["day"] = lb.fit_transform(df["day"])
df["time"] = lb.fit_transform(df["time"])

In [79]:
df.head(3)

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3

In [81]:
x = df.drop(columns = ["total_bill"])
y = df["total_bill"]

In [85]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [87]:
from sklearn.preprocessing import MinMaxScaler

In [89]:
mn = MinMaxScaler()

In [91]:
x_train_mn = mn.fit_transform(x_train)

In [95]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [99]:
np.round(x_train_new.describe(), 2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.57    0.27    0.31
std      0.16    0.48    0.49    0.31    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.33    0.00    0.20
50%      0.22    1.00    0.00    0.67    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00

# (2) OrdinalEncoder

In [106]:
df = pd.read_csv("covid_toy - covid_toy.csv")

In [108]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [110]:
df = df.drop(columns = ["age", "fever"])

In [112]:
df.head(3)

  gender cough     city has_covid
0   Male  Mild  Kolkata        No
1   Male  Mild    Delhi       Yes
2   Male  Mild    Delhi        No

In [114]:
df["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [116]:
from sklearn.preprocessing import OrdinalEncoder

In [118]:
oe = OrdinalEncoder(categories = [["Male", "Female"],
                                  ["Mild", "Strong"],
                                  ["Kolkata", "Bangalore", "Delhi", "Mumbai"],
                                  ["Yes", "No"]])

In [120]:
oe_sc = oe.fit_transform(df)

In [122]:
new_df = pd.DataFrame(oe_sc, columns = df.columns)
new_df.head(3)

   gender  cough  city  has_covid
0     0.0    0.0   0.0        1.0
1     0.0    0.0   2.0        0.0
2     0.0    0.0   2.0        1.0

In [124]:
new_df = new_df.astype(int)
new_df.head(4)

   gender  cough  city  has_covid
0       0      0     0          1
1       0      0     2          0
2       0      0     2          1
3       1      0     0          1

In [126]:
# tips data --
# remove numerical columns
# apply ordinalEncoder

# Tips Data

In [136]:
df = pd.read_csv("tips - tips.csv")
df.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [138]:
df = df.drop(columns = ["total_bill", "tip","size"])
df.head(3)

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner

In [142]:
from sklearn.preprocessing import OrdinalEncoder

In [146]:
oe = OrdinalEncoder(categories = [["Female","Male"],
                                  ["No", "Yes"],
                                  ["Sun", "Sat", "Thur", "Fri"],
                                  ["Dinner", "Lunch"]])

In [148]:
oe_sc = oe.fit_transform(df)

In [150]:
new_df = pd.DataFrame(oe_sc, columns = df.columns)
new_df.head(3)

   sex  smoker  day  time
0  0.0     0.0  0.0   0.0
1  1.0     0.0  0.0   0.0
2  1.0     0.0  0.0   0.0